body {
  margin: 0;
}

h1 {
  margin: 10px;
}
.package {
  margin-top: 5px;
}

.package:hover .content {
  background: #eff1f3;
}

.banner {
  padding: 10px 10px;
}

.banner.light .package-name {
  color: black;
}

.banner.dark .package-name {
  color: white;
}

.package-icon {
  max-width: 96px;
  margin-top: 20px;
  margin-right: 15px;
  float: left;
}

.package-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
}

.package-name a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 5px 10px;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.category,
.feature {
  border: 1px solid #ddd;
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 13px;
  color: #333;
  margin: 0 6px 4px 0;
}

#key-bindings li:not(:first-child):before {
  content: ", ";
}

#key-bindings li {
  display: inline-block;
}

.keybinding {
  font-family: "Courier New", Courier, monospace;
  background-color: #eee;
  border: 1px dotted #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 2px;
}
